<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      /* Navbar container */
      .navbar {
        overflow: hidden;
        background-color: #333; /* Dark background color */
      }

      /* Links inside the navbar */
      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2; /* White text color */
        text-align: center;
        padding: 14px 20px; /* Padding for each link */
        text-decoration: none;
      }

      /* Change background color of links on hover */
      .navbar a:hover {
        background-color: #ddd; /* Light grey background color */
        color: black; /* Black text color */
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/add">Add a New car</a>
      <a href="/search">Search a car</a>

      <% if (user) { %>
      <a href="/logout">Logout</a>
      <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <% } %>
    </div>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required /><br /><br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />

      <button type="submit">Login</button>
    </form>
  </body>
</html>
